 <!-- Clients Section -->
 <section id="clients" class="section clients">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Clients</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "spaceBetween": 40
              },
              "480": {
                "slidesPerView": 3,
                "spaceBetween": 60
              },
              "640": {
                "slidesPerView": 4,
                "spaceBetween": 80
              },
              "992": {
                "slidesPerView": 6,
                "spaceBetween": 120
              }
            }
          }
        </script>
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-2.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-3.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-4.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-5.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-6.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-7.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../../assets/images/eterna/clients/client-8.png" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Clients Section -->