<!DOCTYPE html>
<html lang="en">

{{ include 'up-construction/head' }}


<body class="about-page">

  {{ include 'up-construction/header' }}

  <main class="main">

    <!-- Page Title -->
    {{ include 'up-construction/page-title' pageTitle="About" }}

    <!-- End Page Title --> 

    <!-- About Section -->
    {{ include 'up-construction/about' }}
    <!-- /About Section -->

    <!-- Stats Counter Section -->
    {{ include 'up-construction/stats-counter' }}
    <!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    {{ include 'up-construction/altservices' }}
    <!-- /Alt Services Section -->

    <!-- Alt Services 2 Section -->
    {{ include 'up-construction/altservices2' }}
    <!-- /Alt Services 2 Section -->

    <!-- Team Section -->
    {{ include 'up-construction/team' }}
    <!-- /Team Section -->

    <!-- Testimonials Section -->
     {{ include 'up-construction/testimonials' }}
    <!-- /Testimonials Section -->

  </main>

  {{ include 'up-construction/footer' }}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {{ include 'up-construction/up-construction-scripts' }}

</body>

</html>