<!DOCTYPE html>
<html lang="en">

{{ include 'up-construction/head' }}

<body class="project-details-page">

 {{ include 'up-construction/header' }} 

  <main class="main">

    <!-- Page Title -->
    {{ include 'up-construction/page-title' pageTitle="Project Details" }}
    
    <!-- End Page Title -->

    <!-- Project Details Section -->
    {{ include 'up-construction/project-details' }}
    <!-- /Project Details Section -->

  </main>

  {{ include 'up-construction/footer' }}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {{ include 'up-construction/up-construction-scripts' }}

</body>

</html>