<!DOCTYPE html>
<html lang="en">

{{ include 'up-construction/head' }}

<body class="projects-page">

 {{ include 'up-construction/header' }}

  <main class="main">

    <!-- Page Title -->
    {{ include 'up-construction/page-title' pageTitle="Projects" }}
    <!-- End Page Title -->

    <!-- Projects Section -->
    {{ include 'up-construction/projects' }}
    <!-- /Projects Section -->

  </main>

 {{ include 'up-construction/footer' }}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

 {{ include 'up-construction/up-construction-scripts' }}

</body>

</html>