<!doctype html>
<html lang="en">
  {{ include 'delicious/head' title=config.defaultPageTitle }}

  <body class="index-page">
  <!-- Header -->
  {{ include 'header' }}
  <!-- /Header -->
 
<!-- Main Section -->
 <main class="main">
    <!-- Hero Section -->
    {{ include 'hero' }}
    <!-- /Hero Section -->

    <!-- About -->
    {{ include 'about' }}
    <!-- /About -->

    <!-- Why Us -->
    {{ include 'why-us' }}
    <!-- /Why Us -->

    <!-- Menu -->
    <!-- {{ include 'menu' }} -->
    <!-- /Menu -->

    <!-- Special -->
     {{ include 'specials' }}
     <!-- /Special -->
    
     <!-- Events Section -->
      {{ include 'events' }}
     <!-- /Events Section --> 
 </main>

    

  <!-- /Main Section -->

{{ include 'footer/footer' }}
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

   


{{ include 'footer/scripts' }}

</body>
</html>
