<!DOCTYPE html>
<html lang="en">

{{ include 'eterna/head' }}

<body class="index-page">

{{ include 'eterna/header' }}

  <main class="main">

    <!-- Hero Section -->
    {{ include 'eterna/hero' }}
    <!-- /Hero Section -->

    <!-- About Section -->
    {{ include 'eterna/about' }}
    <!-- /About Section -->

    <!-- Services Section -->
    {{ include 'eterna/services' }}
    <!-- /Services Section -->

    <!-- Clients Section -->
    {{ include 'eterna/clients' }}
    <!-- /Clients Section -->

  </main>

{{ include 'eterna/footer' }}
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {{ include 'eterna/script' }}

</body>

</html>