<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="../../assets/images/day-images/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-start">
        <div class="col-lg-8">
          <h2>The complete home gym</h2>
          <p>Get inspiration from our home wellness concepts</p>
          <a href="#about" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->