



   <!-- Hero Section -->
   <section id="hero" class="hero section dark-background">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <img src="assets/images/hero-carousel/hero-carousel-1.jpg" alt="">
        <div class="carousel-container">
          <h2><span>Delicious</span> Restaurant</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div>
            <a href="#menu" class="btn-get-started">Our Menu</a>
            <a href="#book-a-table" class="btn-get-started">Book a table</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="assets/images/hero-carousel/hero-carousel-2.jpg" alt="">
        <div class="carousel-container">
          <h2>At vero eos et accusamus</h2>
          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
          <div>
            <a href="#menu" class="btn-get-started">Our Menu</a>
            <a href="#book-a-table" class="btn-get-started">Book a table</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="assets/images/hero-carousel/hero-carousel-3.jpg" alt="">
        <div class="carousel-container">
          <h2>Temporibus autem quibusdam</h2>
          <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
          <div>
            <a href="#menu" class="btn-get-started">Our Menu</a>
            <a href="#book-a-table" class="btn-get-started">Book a table</a>
          </div>
        </div>
      </div><!-- End Carousel Item -->

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>

    </div>

  </section><!-- /Hero Section -->