<!-- Get Started Section -->
<section id="get-started" class="get-started section">

    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <div class="content">
            <h3>Minus hic non reiciendis ea possimus at quia.</h3>
            <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.
            </p>
            <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
          <form action="forms/quote.php" method="post" class="php-email-form">
            <h3>Get a quote</h3>
            <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
            <div class="row gy-3">

              <div class="col-12">
                <input type="text" name="name" class="form-control" placeholder="Name" required="">
              </div>

              <div class="col-12 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required="">
              </div>

              <div class="col-12">
                <input type="text" class="form-control" name="phone" placeholder="Phone" required="">
              </div>

              <div class="col-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                <button type="submit">Get a quote</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>

  </section><!-- /Get Started Section -->