 <!-- Vendor JS Files -->
 <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="../../assets/vendor/php-email-form/validate.js"></script>
 <script src="../../assets/vendor/aos/aos.js"></script>
 <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="../../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
 <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.1.2/dist/purecounter_vanilla.js"></script>


 <!-- Main JS File -->
 <script src="../../assets/js/up-construction-main.js"></script>