<!DOCTYPE html>
<html lang="en">

{{ include 'profile/head-profile' }}

<body class="index-page">

    {{ include 'profile/header-profile' }}

  <main class="main">

    
    

    <!-- Hero Section -->
     {{ include 'profile/head-profile' }}
    <!-- /Hero Section -->

    <!-- Hero Section -->
     {{ include 'profile/hero-profile' }}
    <!-- /Hero Section -->

    <!-- About Section -->
    {{ include 'profile/about-profile' }}
    <!-- /About Section -->

    <!-- Stats Section -->

    <!-- /Stats Section -->

    <!-- Skills Section -->
     {{ include 'profile/skill-profile' }}
    <!-- /Skills Section -->

    <!-- Resume Section -->
    {{ include 'profile/resume-profile' }}
    <!-- /Resume Section -->

    <!-- Portfolio Section -->
    {{ include 'profile/portfolio-profile' hostingURL=config.hostingURL }}
    <!-- /Portfolio Section -->

    <!-- Services Section -->
    {{ include 'profile/services' }}
  
    <!-- /Services Section -->

    <!-- Testimonials Section -->
    <!-- /Testimonials Section -->

    <!-- Contact Section -->
     {{ include 'profile/contact-profile' }}
    <!-- /Contact Section -->

  </main>

  {{ include 'profile/footer' }}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {{ include 'profile/scripts-profile' }}

</body>

</html>