<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>
        Tôi là một freelancer chuyên về phát triển website, với mục tiêu tạo ra những trang web đẹp mắt và tối ưu hóa trải nghiệm người dùng. Tôi cam kết mang đến giải pháp web chất lượng, đáp ứng đúng nhu cầu kinh doanh của bạn.
      </p>
      <p>[
        I am a freelancer specializing in website development, with the goal of creating visually appealing websites and optimizing user experiences. I am committed to delivering high-quality web solutions that meet your business needs.
        ]</p>
     
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="assets/images/profile-images/oanh-profile-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 content">
          <h2>Website Design</h2>
          <p class="fst-italic">
             Cung cấp các mẫu giao diện sẵn có để bạn lựa chọn. Tôi sẽ tùy chỉnh và triển khai website trên hosting trong vòng 3 ngày.
          </p>
          <p class="fst-italic py-3">[Offering a selection of ready-made templates for you to choose from. I will customize and deploy the website on hosting within 3 days.
            ]</p>
          <p class="fst-italic ">
            Hỗ Trợ Sau Hoàn Thiện: Sau khi trang web hoạt động, tôi sẽ hỗ trợ chỉnh sửa trong 1 tháng để đảm bảo hiệu suất tối ưu.
          </p>
          <p class="fst-italic py-3">[
            Post-Completion Support: After the website goes live, I will provide editing support for 1 month to ensure optimal performance.
            ]</p>
          <p class="fst-italic ">
            Chi Phí Hợp Lý: Gói dịch vụ sẽ bao gồm miễn phí hosting. Sau thời gian hỗ trợ, mỗi lần cập nhật sẽ có chi phí 500,000 VND.
          </p>
          <p class="fst-italic py-3">[
            Affordable Pricing: A full package service including free hosting. After the support period, each update will cost 30 usd.
            ]</p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>21 / 01</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+84 085 383 045</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tp HCM</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>oanhthuytran098@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p class="py-3">
            Nếu bạn muốn bắt đầu dự án, hãy liên hệ với tôi để được tư vấn chi tiết và nhanh chóng. Tôi rất mong được hợp tác và mang đến cho bạn một website chuyên nghiệp.
          </p>
          <p class="py-3">[
            If you want to start your project, feel free to contact me for detailed and prompt consultation. I look forward to working with you and delivering a professional website.
            ]</p>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->