 <!-- Hero Section -->
 <section id="hero" class="hero section dark-background">

    <img src="assets/images/profile-images/oanh-hero-bg.png" alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>Trần Thúy Oanh</h2>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

  </section><!-- /Hero Section -->