<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Mẫu website tham khảo</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-business">Business</li>
          <!--<li data-filter=".filter-product">Product</li>
          <li data-filter=".filter-branding">Branding</li>
          <li data-filter=".filter-books">Books</li> -->
        </ul><!-- End Portfolio Filters -->

        <div class=" row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          



          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-business" 
          style="position: absolute; left: 0px; top: 0px;">
          <div class="portfolio-content h-100">
            <img src="assets/images/profile-images/portfolio/delicious.jpg" class="img-fluid" alt="Delicious">
            <div class="portfolio-info">
              <h4>Delicious</h4>
              <p>Lorem ipsum dolor sit amet</p>
              <a href="assets/images/profile-images/portfolio/delicious.jpg" title="Delicious" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="{{hostingURL}}/restaurantindex.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div></div></div>


          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-business">
            <div class="portfolio-content h-100">
              <img src="assets/images/profile-images/portfolio/day.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Day</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/images/profile-images/portfolio/day.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{{hostingURL}}/dayindex.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-business">
            <div class="portfolio-content h-100">
              <img src="assets/images/profile-images/portfolio/up-construction.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Up</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/images/profile-images/portfolio/up-construction.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{{hostingURL}}/UCindex.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-business">
            <div class="portfolio-content h-100">
              <img src="assets/images/profile-images/portfolio/eterna.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Day</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/images/profile-images/portfolio/eterna.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{{hostingURL}}/Eternaindex.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->


                  


        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->