<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p class="py-3">
        I was working as a junior software engineer at Temus to develop web and mobile apps for multiple clients in a         variety of sectors such as hospitality, banking and telecommunications. </p>
<p class="py-3">7 years experience as software engineer, database management.</p> 
<p class="py-3">I have dedicated three years to self-directed research and development in ReactJS and NodeJS. During this period, I focused on deepening my knowledge and honing my skills in these technologies. Through self-guided exploration and practical projects, I have gained valuable experience in building robust and scalable applications using ReactJS and NodeJS.
</p>
<p class="py-3">I have spent several years conducting extensive research on various open-source software solutions, including Redmine, Linux, and Python (Django). This exploration has allowed me to gain in-depth knowledge and understanding of these technologies. I have actively studied their features, functionalities, and best practices, enabling me to effectively leverage them in my projects and contribute to the open-source community.
</p>
<p class="py-3">I am proficient in using fundamental Git commands and workflows. I have a solid understanding of version control principles and can effectively utilize Git for tasks such as creating branches, committing changes, merging code, and resolving conflicts. With my experience, I can confidently navigate Git repositories, collaborate with team members, and ensure proper code management throughout the development process.
</p>
     
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Education</h3>

          <div class="resume-item pb-0">
            <h4>The Open University</h4>
            <p><em>
              Bachelor's degree, Computer Software Engineering.
            </em></p>
            <h5>2004 – 2006</h5>
            
          </div><!-- Edn Resume Item -->

          

          

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Junior developer</h4>
            <h5>2022 - 2023</h5>
            <p><em>Dreamcloud, Singapore </em></p>
            <ul>
              <li>Provided full-stack Outsystem development for the Scoot Crew application and hand in hand with team in Singapore.
              </li>
              <li>Experienced in Agile Project Management, Agile Development process for diverse requirements.</li>
              <li>Good exposure in all phases of software engineering starting from requirement gathering till delivery.</li>
              <li>Ability to understand and Develop Entity model and relations.</li>

            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Senior Software Developer – .NET Framework</h4>
            <h5>May 2006 - May 2013</h5>
            <p><em>SCTV (Saigontourist Cable Television) Company Limited, Viet Nam</em></p>
            <ul>
              <li>I have experience working with features such as DTOs in .NET and utilizing LINQ to query data.</li>
              <li>Developing C# windows-based applications for the telecommunications industry.</li>
              <li>I work with the .NET Framework, specifically focusing on the ADO.NET technology for data access.</li>
              <li>Researching, designing, and implementing best practice solutions for new problems.</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->